:root {
--primary-text-color:#757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primary-white-color:#FFFFFF;
--primary-background-color:#F5F5F5;
--second-background-color:#F5F4FA;
}
body {
    font-family: 'Roboto', sans-serif;
    color:var(--primary-text-color);

}

h2,
h3 {
    color: var(--title-text-color);
}

/* ------------Header-----------*/


.logo {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}


.web {
    color: var(--accent-color);
}

.header-nav {
    list-style: none;
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}
.header-nav-link.current {
    color: var(--accent-color);
}

.header-contacts {
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
}

.phone {
text-transform: uppercase; 
}


/*--------------Hero-------------*/

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: Center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: Center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/*--------------Benefits------------*/

.benefits-list {
    list-style: none;
}

.Benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*-------------activity-----------*/

.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: Center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.activity-list {
    list-style: none;
}

/*-----------team-----------*/

.team {
    background-color: var(--second-background-color);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: Center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }

.team-list {
    list-style: none;
}

.team-title-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: Center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: Center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*------------footer-----------*/
.footer {
    background-color: #2F303A;
}

.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-decoration: none;
}

.web {
    color: var(--accent-color);
}

.footer-list {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.footer-list a {
    text-decoration: none;
}
.footer-list a:hover,
.footer-list a:focus {
    color: var(--accent-color);
}

.footer-list-text {
    color: var(--primary-white-color);

}

.footer-list-contact {
      color: rgba(255, 255, 255, 0.6);
}


/*---------------Portfolio----------------*/


.portfolio-btns {
    list-style: none;
    
}
.portfolio-btns .btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: Center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--second-background-color);
}

.portfolio-btns .btn:hover,
.portfolio-btns .btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-list {
    list-style: none;
}

.portfolio-title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
  }

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}